
<div class="block-about">
    <div class="container">
        <div class="block-container">
            <div class="about_header">{{ item.header }}</div>

                {% for item in item.about %}
                <div class="block-image">
                    <img src="{{ item.image }}" alt="dogs" class="{% if item.classImage is defined %}{{ item.classImage }}{% endif %}">
                    <div class="{% if item.classHeadline is defined %}{{ item.classHeadline }}{% endif %}">{{ item.headline }}</div>
                    <div class="{% if item.classContent is defined %}{{ item.classContent }}{% endif %}">{{ item.content }}</div>
                    {% if item.button is defined %}
                    <div class="{%  if item.classButton is defined %}{{ item.classButton }}{% endif %}">{{ item.button }}</div>
                    {% endif %}

            </div>
                {% endfor %}
        </div>
    </div>
</div>