<div class="block-advance-text space-top">
    <div class="theme-container">
        <div class="grid">
            <div class="{{ block.layout }}">
                <div class="overline">{{ block.overline }}</div>
                <div class="headline">{{ block.headline }}</div>
                <div class="text-container">
                    {% if block.copy is iterable %}
                        {% for text in block.copy %}
                            <div class="text">{{ text }}</div>
                        {% endfor %}
                    {% else %}
                        <div class="copy">{{ block.copy }}</div>
                    {% endif %}
                </div>
                <div class="theme-button two-column-btn">
                    <a class="theme-cta "  href="{{ block.ctaLink }}" target="{{ block.ctaTarget }}">{{ block.ctaTitle }}</a>
                </div>
            </div>
        </div>
    </div>
</div>