{% import "theme/macros.html.twig" as macros %}
<div class="block-article-teaser">
    <div class="title">Article Teaser</div>
    <div class="flex">
        <div class="article-image">{{ macros.imageLazyLoadDefault(block.article.picture, 'block_article_teaser') }}</div>
        <div class="article-content">
            <div class="article-date">{{ block.article.publicationDate|date('d.m.y') }}</div>
            <div class="article-title">{{ block.article.title }}</div>
            <div class="article-teaser">{{ block.article.teaser|html_sanitize }}</div>
            <a href="{{ router(block.article) }}" class="btn">Read more</a>
        </div>
    </div>
</div>
