<div class="block-card space-top">
    <div class="theme-container">
        <div class="{{ block.layout }}-grid">
            <div class="media-container">
                <img src="{{ media_url(block.media) }}" alt="{{ media_parameter(block.media,'alt')}}" class="headerbild-img">
                <div class="gradient"></div>
            </div>
            <div class="card-{{ block.layout }}">
                <div class="theme-overline">{{ block.overline|html_sanitize }}</div>
                <div class="theme-headline padding">{{ block.headline|html_sanitize }}</div>
                <div class="copy">{{ block.copy }}</div>
                <div class="button-container">
                    <a class="theme-cta theme-button"  href="{{ block.ctaLink }}" target="{{ block.ctaTarget }}">{{ block.ctaTitle }}</a>
                </div>
            </div>

        </div>

    </div>
</div>