
<div class="block_hero">
    <div class="hero-container">
        <div class="container">
            <div class="grid-container">
                {% if block.layout == "media-text" %}
                <img src="{{ media_url(block.media) }}" alt="{{ media_parameter(block.media,'alt')}}" class="card-media-text">
                    <div class="texts_container">
                        <div class="card_overline">{{ block.overline }}</div>
                        <div class="card_headline">{{ block.headline }}</div>
                        <div class="card_copy">{{ block.copy }}</div>
                        <button class="card_button_1">{{ block.ctaTitle }}</button>
                    </div>
                {% endif%}

                {% if block.layout == "media-text-gradient" %}
                    <img src="{{ media_url(block.media) }}" alt="{{ media_parameter(block.media,'alt')}}" class="card-media-text">
                    <img src="{{ asset("/build/theme/images/Pfad 25512 copy.svg")}}" class="card-media-gradient">
                    <div class="texts_container">
                        <div class="card_overline">{{ block.overline }}</div>
                        <div class="card_headline">{{ block.headline }}</div>
                        <div class="card_copy">{{ block.copy }}</div>
                        <div class="card_button_1">{{ block.ctaTitle }}</div>
                    </div>
                {% endif%}

                {% if block.layout == "media-text-stacked" %}
                    <img src="{{ media_url(block.media) }}" alt="{{ media_parameter(block.media,'alt')}}" {% if block.media.classFilename is defined %}class="{{ block.media.classFilename }}"{% endif %}>
                    <div class="media-text-stacked-text-container">
                        <div class="card_overline-stacked">{{ block.overline }}</div>
                        <div class="card_headline">{{ block.headline }}</div>
                        <div class="card_copy">{{ block.copy }}</div>
                        <div class="card_button_1">{{ block.ctaTitle }}</div>
                    </div>
                {% endif%}
            </div>
        </div>
    </div>
</div>
