<div class="block-card space-top">
    <div class="theme-container">
        <div class="{{ block.layout }}-grid">
            <div class="media-container">
                <img src="{{ media_url(block.media) }}" alt="{{ media_parameter(block.media,'alt')}}" class="card-media-img">
            </div>
            <div class="card-{{ block.layout }}">
                <div class="theme-overline overline">{{ block.overline }}</div>
                <div class="theme-headline headline">{{ block.headline }}</div>
                <div class="theme-copy">{{ block.copy }}</div>
                <a class="theme-cta cta"  href="{{ block.ctaLink }}" target="{{ block.ctaTarget }}">{{ block.ctaTitle }}</a>
            </div>
        </div>
    </div>
</div>