<div class="block-form">
    <div class="container">
        <div class="form-content" data-controller="form">
            <div class="form-text-container">
                <div class="form-text-headline">{{ block.headline }}</div>
                <div class="form_text-overline">{{ block.overline }}</div>
                <div class="form-text-copy">{{ block.text }}</div>
            </div>
                <div class="form">
                    <div class="form-row">
                        <div class="row">
                            <label for="name" class="form-label">{{ block.form.name.label }}</label>
                            <select id="name" name="name">
                                <option value="" disabled selected hidden>AUSWÄHLEN</option>
                                <option value="">AUSWÄHLEN</option>
                                <option value="">AUSWÄHLEN</option>
                            </select>
                            <div>{{ block.form.name.is_required ? 'Required' : '' }}</div>
                        </div>
                        <div class="row">
                            <label for="email" class="form-label">{{ block.form.email.label }} </label>
                            <input type="{{ block.form.email.type }}" name="email" id="email" placeholder="{{ block.form.email.placeholder }}">
                            <div class="required">{{ block.form.email.is_required ? 'Dieses Feld muss ausgefüllt sein.' : 'Dieses Feld muss ausgefüllt sein.' }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <label for="subject" class="form-label">{{ block.form.subject.label }}</label>
                        <input type="{{ block.form.subject.type }}" name="subject" id="subject" placeholder="ILLENBERGER">
                        <div>{{ block.form.subject.is_required ? 'Required' : '' }}</div>
                    </div>
                    <div class="row">
                        <label for="message" class="form-label">{{ block.form.message.label }}</label>
                        <textarea name="message" id="message" placeholder="HALLO, ICH HABE EINE FRAGE."></textarea>
                        <div>{{ block.form.message.is_required ? 'Required' : '' }}</div>
                    </div>
                    <div class="form_checkbox">
                        <input type="{{ block.form.checkbox.type }}" name="subject" id="checkbox">
                        <label for="checkbox">{{ block.form.checkbox.label }}</label>
                    </div>
                    <div class="form_button">{{ block.ctaTitle }}</div>
                </div>
        </div>
    </div>
</div>