<div class="block-form">
    <div class="container">
        <div class="form-content" data-controller="form">
            <div class="form_text">{{ item.form_text }}</div>
                <div class="form">
                    <div class="form-row">
                        <div class="form_name">
                            <label for="name">{{ item.form.name.label }}</label>
                            <input type="{{ item.form.name.type }}" name="name" id="name" placeholder="{{ item.form.name.placeholder }}">
                            <div>{{ item.form.name.is_required ? 'Required' : '' }}</div>
                        </div>
                        <div class="form_email">
                            <label for="email">{{ item.form.email.label }} </label>
                            <input type="{{ item.form.email.type }}" name="email" id="email" placeholder="{{ item.form.email.placeholder }}">
                            <div class="required">{{ item.form.email.is_required ? 'Dieses Feld muss ausgefüllt sein.' : 'Dieses Feld muss ausgefüllt sein.' }}</div>
                        </div>
                    </div>
                    <div class="form_input">
                        <label for="subject">{{ item.form.subject.label }}</label>
                        <input type="{{ item.form.subject.type }}" name="subject" id="subject" placeholder="ILLENBERGER">
                        <div>{{ item.form.subject.is_required ? 'Required' : '' }}</div>
                    </div>
                    <div class="form_message">
                        <label for="message">{{ item.form.message.label }}</label>
                        <textarea name="message" id="message" placeholder="HALLO, ICH HABE EINE FRAGE."></textarea>
                        <div>{{ item.form.message.is_required ? 'Required' : '' }}</div>
                    </div>
                    <div class="form_checkbox">
                        <input type="{{ item.form.checks.type }}" name="subject" id="checkbox">
                        <label for="message">{{ item.form.checks.label }}</label>
                    </div>
                    <div class="form_button">{{ item.button }}</div>
                </div>
        </div>
    </div>
</div>