<div class="block-gallery">
    <div class="container">
            <div class="gallery-content">
                <div class="item_1">
                    <img src="{{ item.image_1 }}" alt="Gallery Image" class="gallery_img _h">
                </div>
                <div class="item_2">
                    <img src="{{ item.image_2 }}" alt="Gallery Image" class="gallery_img _v">
                </div>
                <div class="item_3">
                    <img src="{{ item.image_3 }}" alt="Gallery Image" class="gallery_img _h">
                </div>
                <div class="item_4">
                    <img src="{{ item.image_4 }}" alt="Gallery Image" class="gallery_img _v">
                </div>
                <div class="item_5">
                    <img src="{{ item.image_6}}" alt="Gallery Image" class="gallery_img _h">
                </div>
                <div class="item_6">
                    <img src="{{  item.image_5}}" alt="Gallery Image" class="gallery_img _v">
                </div>
            </div>
    </div>
</div>

