{% if block.picture %}
    {% import "theme/macros.html.twig" as macros %}
    <div class="block-header">
        <div class="inner">
            {{ macros.pictureLazyLoadDefault(block.picture, 'block_header', [{'media':'(max-width:1024px)','size_name': 'block_header_tablet'},{'media':'(max-width:480px)','size_name': 'block_header_mobile'}], 'class="bg-image"') }}
            <div class="text-container">
                <div class="container">
                    {% if block.headline %}<h1 class="headline">{{ block.headline|raw }}</h1>{% endif %}
                    {% if block.subheadline %}<div class="subheadline">{{ block.subheadline|raw }}</div>{% endif %}
                    {% if block.cta and block.cta.link and block.cta.label %}
                        <a href="{{ block.cta.link }}" class="btn white header-btn">{{ block.cta.label }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}