
<div class="container">
        <div class="block_hero">
            <div class="hero_content">
                <div class="image_container">
                    <img src="{{ item.image }}" alt="hero" class="hero_img">
                    <img src="{{ item.image_2 }}" alt="hero" class="gradient">
                </div>
                <div class="texts_container">
                        <div class="hero_text">{{ item.overline }}</div>
                        <div class="hero_title">{{ item.headline }}</div>
                        <div class="hero_subtitle">{{ item.content }}</div>
                        <div class="button_1">{{ item.button }}</div>
                </div>
            </div>
        </div>
</div>