{% if block.layout == "hero" %}
<div class="block_hero">
    <div class="hero-container">
        <div class="container">
            <div class="hero-grid-container">
                <img src="{{ media_url(block.media) }}" alt="{{ media_parameter(block.media,'alt')}}" class="hero-media">
                <div class="hero-text-container">
                    <div class="overline">{{ block.overline }}</div>
                    <div class="hero-headline headline">{{ block.headline }}</div>
                    <div class="copy">{{ block.copy }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if block.layout == "hero-block" %}
    <div class="block_hero-2">
        <div class="hero-black-background">
            <div class="hero-block-grid">
            <div class="hero-black-text-container">
                <div class="hero-black-overline overline">{{ block.overline }}</div>
                <div class="hero-black-headline">{{ block.headline }}</div>
                <div class="hero-black-copy copy">{{ block.copy }}</div>
                <a class="card_button_1 hero-block-button" href="{{ block.ctaLink }}" target="{{ block.ctaTarget }}">{{ block.ctaTitle }}</a>
            </div>
        </div>
        </div>
    </div>
{% endif %}
