<div class="block_hero">
    <div class="theme-container">
        <div class="{% if block.layout == 'hero-black' %}hero-container{% endif %}">
            <div class="{{ block.layout }}-grid">
                <div class="hero-image-wrapper">
                    <img src="{% if block.layout == 'hero' %}{{ media_url(block.media) }}{% endif %}" alt="{{ media_parameter(block.media,'alt')}}" class="hero-media">
                </div>
                <div class="hero-text-container {% if block.layout == 'hero-black' %} hero-black-text-container {% endif %}">
                    <div class="theme-overline hero-black-overline">{{ block.overline }}</div>
                    <div class="hero-headline theme-headline hero-black-headline">{{ block.headline }}</div>
                    <div class="theme-copy hero-black-copy">{{ block.copy }}</div>
                    {% if block.ctaTitle and block.ctaLink is not null %}
                    <a class="theme-button hero-black-button" href="{{ block.ctaLink }}" target="{{ block.ctaTarget }}">{% if block.layout == 'hero-black' %}{{ block.ctaTitle }}{% endif %}</a>
                    {% endif %}
                </div>
                <div class="{% if block.layout == 'hero-black' %} hero-block-img {% endif %}">
                    <img src="{% if block.layout == 'hero-black' %}{{ media_url(block.media) }} {% endif %}" alt="{{ media_parameter(block.media,'alt')}}" class="hero-block-media">
                </div>
            </div>
        </div>
    </div>
</div>
