<div class="jobs-block">
    <div class="container">
        <div class="jobs-grid">
            <div class="table">
                <div class="label">
                    <div class="table-span">
                        <span class="jobs-overline">Alle anzeigen</span>
                        <button class="caret">&#94;</button>
                    </div>
                    <div class="hr-container">
                        <hr>
                    </div>
                    <div class="job-headline">vollzeit</div>
                    <div class="job-headline">teilzeit</div>
                    <div class="job-headline">praktikum</div>
                </div>
            </div>
            <div class="job-form">
                <div class="job-row">
                    <label for="text" class="jobs-label">{{ block.form.text.label }}</label>
                    <div class="input-wrapper">
                        <input type="{{ block.form.text.type }}" name="text" id="text" placeholder="{{ block.form.text.placeholder }}">
                        <span class="static-text">{{block.form.text.text }}</span>
                    </div>
                </div>
                <div class="job-row">
                        <label for="email" class="jobs-label">{{ block.form.email.label }}</label>
                    <div class="input-wrapper">
                        <input type="{{ block.form.email.type }}" name="email" id="email" placeholder="{{ block.form.email.placeholder }}" >
                        <span class="static-text">{{ block.form.email.text }}</span>
                    </div>
                </div>
                <div class="job-row">
                    <label for="text" class="jobs-label">{{ block.form.text.label }}</label>
                    <div class="input-wrapper">
                        <input type="{{ block.form.text.type }}" name="text" id="text" placeholder="{{ block.form.text.placeholder }}">
                        <span class="static-text">{{ block.form.text.text }}</span>
                    </div>
                </div>
                <div class="job-row">
                        <label for="email" class="jobs-label">{{ block.form.email.label }}</label>
                    <div class="input-wrapper">
                        <input type="{{ block.form.email.type }}" name="email" id="email" placeholder="{{ block.form.email.placeholder }}" >
                        <span class="static-text">{{ block.form.email.text }}</span>
                    </div>
                </div>
                <div class="job-row">
                        <label for="email" class="jobs-label">{{ block.form.email.label }}</label>
                    <div class="input-wrapper">
                        <input type="{{ block.form.email.type }}" name="email" id="email" placeholder="{{ block.form.email.placeholder }}" >
                        <span class="static-text">{{ block.form.email.text }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>