<div class="block-nag-screen space-top">
    <div class="theme-container">
        <div class="wrapper">
            <div class="ex-toggle">
                <div class="lines"></div>
            </div>
            <div class="flex">
                <div class="text-container">
                    <div class="overline theme-overline">{{ block.overline }}</div>
                    <div class="headline ">{{ block.headline }}</div>
                    <div class="copy">{{ block.copy }}</div>
                    <div class="button-container">
                        <a class="theme-cta theme-button"  href="{{ block.ctaLink }}" target="{{ block.ctaTarget }}">{{ block.ctaTitle }}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>