<div class="block-nag-screen space-top">
    <div class="theme-container">
        <div class="wrapper">
            <button class="icon">&#215;</button>
            <div class="flex">
                <div class="text-container">
                    <div class="overline ">{{ block.overline }}</div>
                    <div class="headline ">{{ block.headline }}</div>
                    <div class="copy">{{ block.copy }}</div>
                    <div class="theme-button">
                        <a class="theme-cta"  href="{{ block.ctaLink }}" target="{{ block.ctaTarget }}">{{ block.ctaTitle }}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>