<div class="block-paragraph space-top">
    <div class="container">
        <div class="paragraph-grid">
            <div class="paragraph-container">
                <div class="paragraph">{{ item.paragraph1 }}</div>
                <div class="paragraph">{{ item.paragraph2 }}</div>
                <div class="paragraph">{{ item.paragraph3 }}</div>
                <div class="paragraph">{{ item.paragraph4 }}</div>
                <div class="paragraph">{{ item.paragraph5 }}</div>
            </div>
        </div>
    </div>
</div>

