<div class="block_swipe-teaser">
    <div class="swiper-theme-container">
        <div class="grid-gradient-container">
            <div class="teaser-wrapper">
                <img src="{{ media_url(block.media) }}" alt="{{ media_parameter(block.media,'alt')}}" class="teaser-swiper-media-gradient">
            </div>
            <div class="teaser-wrapper">
                <img src="{{ media_url(block.media) }}" alt="{{ media_parameter(block.media,'alt')}}" class="teaser-swiper-media">
            </div>
            <div class="teaser-wrapper">
                <div class="swiper-text-container">
                    <div class="swiper-overline theme-overline">{{ block.overline }}</div>
                    <div class="theme-headline">{{ block.headline }}</div>
                    <div class="theme-copy">{{ block.copy }}</div>
                </div>
            </div>
            <div class="teaser-wrapper">
                <img src="{{ media_url(block.media) }}" alt="{{ media_parameter(block.media,'alt')}}" class="swiper-media-gradient">
            </div>
        </div>
        <div class="navi">
            <button class="btt-nav"></button>
            <button class="btt-nav"></button>
            <button class="btt-nav"></button>
            <button class="btt-nav"></button>
            <button class="btt-nav"></button>
        </div>
    </div>
</div>

