<div class="block-swipe-teaser space-top">
    <div class="theme-container">
        <div class="grid">
            <div class="media-wrapper">
                <img src="{{ media_url(block.media) }}" alt="{{ media_parameter(block.media,'alt')}}" class="media-gradient">
            </div>
            <div class="media-wrapper">
                <img src="{{ media_url(block.media) }}" alt="{{ media_parameter(block.media,'alt')}}" class="media">
            </div>
            <div class="text-wrapper">
                <div class="text-container">
                    <div class="overline">{{ block.overline }}</div>
                    <div class="headline">{{ block.headline }}</div>
                    <div class="copy">{{ block.copy }}</div>
                </div>
            </div>
            <div class="media-wrapper">
                <img src="{{ media_url(block.media) }}" alt="{{ media_parameter(block.media,'alt')}}" class="media-gradient">
            </div>
        </div>
        <div class="navigation">
            <button class="nav-btn"></button>
            <button class="nav-btn"></button>
            <button class="nav-btn"></button>
            <button class="nav-btn"></button>
            <button class="nav-btn"></button>
        </div>
    </div>
</div>

