<div class="block_swipe-teaser space-top">
    <div class="swiper-theme-container">
        <div class="grid">
            <div class="wrapper">
                <img src="{{ media_url(block.media) }}" alt="{{ media_parameter(block.media,'alt')}}" class="media-gradient">
            </div>
            <div class="wrapper">
                <img src="{{ media_url(block.media) }}" alt="{{ media_parameter(block.media,'alt')}}" class="media">
            </div>
            <div class="wrapper">
                <div class="text-container">
                    <div class="overline theme-overline">{{ block.overline }}</div>
                    <div class="theme-headline">{{ block.headline }}</div>
                    <div class="theme-copy">{{ block.copy }}</div>
                </div>
            </div>
            <div class="wrapper">
                <img src="{{ media_url(block.media) }}" alt="{{ media_parameter(block.media,'alt')}}" class="media-gradient">
            </div>
        </div>
        <div class="navi">
            <button class="btt-nav"></button>
            <button class="btt-nav"></button>
            <button class="btt-nav"></button>
            <button class="btt-nav"></button>
            <button class="btt-nav"></button>
        </div>
    </div>
</div>

