
{#<div class="team">#}
{#    <div class="team_headline">{{ item.headline }}</div>#}
{#    <div class="team_content">{{ item.content }}</div>#}
{#    <div class="team_container">#}
{#        {% for section in item.team %}#}
{#            <div class="team_column">#}
{#                <div class="team_wrapper">#}
{#                <img src="{{ section.image }}" alt="team_image">#}
{#                </div>#}
{#                <div class="team_header">#}
{#                    <div class="name">{{ section.name }}</div>#}
{#                    <div class="team_contact">#}
{#                        <div>{{ section.number }}</div>#}
{#                        <div>{{ section.emails }}</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}
