<div class="block-team space-top">
    <div class="theme-container">
        <div class="grid">
            {% for block in block.items %}
                <div class="item">
                    <div class="media-container">
                        <img src="{{ media_url(block.teamMember.picture) }}" alt="{{ media_parameter(block.teamMember.picture, 'alt') }}">
                    </div>
                    <div class="text-container">
                        <div class="theme-overline overline">{{ block.position }}</div>
                        <span class="theme-headline headline">{{ block.teamMember.firstName }} {{ block.teamMember.lastName }}</span>
                        <div class="copy">
                            <div>{{ block.teamMember.phone }}</div>
                            <div>{{ block.teamMember.email }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
