
<div class="block-team">
    <div class="container">
        <div class="text_container">
            <div class="team-text">
    <div class="team_headline">{{ item.headline }}</div>
    <div class="{{ item.classContent }}">{{ item.content }}</div>
            </div>
        {% for section in item.team %}
            <div class="team_column">
                <img src="{{ section.image }}" alt="team_image" class="{{ section.classImage }}">
                <div class="team_header">
                    <div class="names">{{ section.name }}</div>
                    <div class="team_contact">
                        <div>{{ section.number }}</div>
                        <div>{{ section.emails }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
</div>
</div></div>